<div class="item-media">{{plus-one i}}</div>
<div class="item-inner">
  <div class="item-title">{{user.name}}</div>
  <div class="item-after">
    <span class="badge amber">{{user.numberOfBrosties}}</span>
    <span class="badge silver">{{user.numberOfBadges}}</span>
    <span class="badge bronze">{{user.numberOfRegularPoints}}</span>
  </div>
</div>